<div ng-controller="purchaseCtrl">
	<div class="row">
		<div class="row"><h3 class="resource-title right">Purchase</h3></div>
		<div class="row"><span class="cart-title gray right">{{ cart.uuid }}</span></div>
	</div>
	<form class="update-form" ng-submit="processPurchases(newPurchases)">
	  <div class="row">
	  	<div ng-repeat="purchase in newPurchases track by $index">
			<div class="product">
				<div class="five columns">
				  <label for="product">Product</label>
				  <select ng-model="purchase.product" ng-change="clearAttributes(purchase)" class="u-full-width" id="product">
				    <option ng-repeat="product in products" value="{{ product.id }}">{{ product.name }} - ${{ product.price }}</option>
				  </select>
				</div>
			</div>
			<div class="two columns">
			  <label for="quantity">quantity</label>
			  <input ng-model="purchase.quantity" ng-change="calcTotalPartial(purchase);" class="u-full-width" type="number" step="any" min="0" id="quantity">
			</div>
			<div class="two columns">
			  <label for="quantity">product price</label>
			  <input disabled class="u-full-width" type="number" step="any" min="0" id="quantity" value="{{ getProduct(purchase.product).price }}">
			</div>
			<div class="two columns">
			  <label for="quantity">partial total</label>
			  <input disabled  ng-model="purchase.total_price" class="u-full-width gray" type="number" step="any" min="0" id="total_price">
			</div>
			<input ng-model="purchase.cart_uuid" ng-init="purchase.cart_uuid = cart.uuid" type="hidden">
			<i ng-show="$last" ng-click="addFormTuple(newPurchases)" class="ion-plus icon-plus-purchase one columns"></i>
		</div>
	    
	    <div class="twelve columns">
	      <label for="quantity">total</label>
	      <input disabled ng-model="cart.total_price" class="u-full-width gray" type="number" step="any" min="0" id="total_price">
	    </div>
	  </div>
	  <input class="button-primary" type="submit" value="Create">
	</form>
	</table>
</div>